<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
  
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >
  
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
		 	<param name="ConversionPattern"  
		  		value="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] %C.%M()(line:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="ApiRollingFile" class="org.apache.log4j.RollingFileAppender">  
		<param name="File" value="/var/log/gim/auth/api.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] %C.%M()(line:%L) - %m%n" />
		</layout>
	</appender>
	
	<appender name="RollingFile" class="org.apache.log4j.RollingFileAppender">  
		<param name="File" value="/var/log/gim/auth/auth.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] %C.%M()(line:%L) - %m%n" />
		</layout>
	</appender>
	
	<category name="org.springframework">     
    	<level value="ERROR" />   
		<appender-ref ref="RollingFile" />  
		<appender-ref ref="Console" />  
	</category>
	
	<category name="com.asiainfo.gim.common.rest">     
    	<level value="INFO" />   
		<appender-ref ref="ApiRollingFile" />  
		<appender-ref ref="Console" />  
	</category>
	
</log4j:configuration>